<div class="container">
    <h2><oda-label oda-label-value="home.title"/></h2>

    <div class="row">
        <div class="col-md-12">
            <oda-label oda-label-value="home.hello"/>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3 well text-center">
            <h2>Vous</h2>
            <video controls id="emitter-video" width="100%" height="200px"></video>
            <div id="shareDiv"><oda-loading/></div>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row" id="receivers">    
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel-body msg_container_base" id="chat">
                <kureha-chat-notificaiton message="New user: moi" userCode="SYSTEM"/>
                <kureha-chat-sent message="hello" userCode="FRO"/>
                <kureha-chat-receive message="hello form me" userCode="FRO"/>
            </div>
        </div>
        <div class="col-md-12">
            <oda-input-area
                oda-input-area-name="message"
                oda-input-area-label="chat.message"
                oda-input-area-tips="chat.tips"
                oda-input-area-advice="chat.advice"
                oda-input-area-placeholder="chat.placeholder"
                oda-input-area-check="Oda.Regexs:noInjection" 
                oda-input-area-paste="false" 
                oda-input-area-debounce="100"
                required/>
            <oda-btn oda-btn-name="submit" oda-btn-style="primary" oda-btn-icon-before="ok" oda-btn-click="$.Oda.App.Controller.Home.sent();" disabled>oda-main.bt-submit</oda-btn>
        </div>
    </div>
</div>

<script id="tpl-receiver" type="text/template">
    <div class="col-md-3 well text-center">            
        <h2>{{userCode}}</h2>
        <video controls id="receiver-video-{{id}}" width="100%" height="150px"></video>
    </div>
</script>

<script>
    $.Oda.App.Controller.Home.start();
</script>